@charset "UTF-8";

/* 回答はここに書いてね */
.speech-balloon {
  position: relative;
  width: 500px;
  padding: 20px;
  border: solid 5px #222;
  border-radius: 30px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 16px;
}

.speech-balloon:before,
.speech-balloon:after {
  content: "";
  position: absolute;
}

.speech-balloon:before {
  top: 157px;
  left: 30px;
  width: 0px;
  height: 0px;
  border-top: 20px solid #222;
  border-right: 20px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 20px solid transparent;
}

.speech-balloon:after {
  top: 150px;
  left: 30px;
  width: 0px;
  height: 0px;
  border-top: 20px solid #FFF;
  border-right: 20px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 20px solid transparent;
}
/* 回答はここに書いてね */
