@charset "UTF-8";

/* 回答はここに書いてね */
/*ユニークのクラス名つける*/
.table_area {
  padding: 20px
}

.table {
  display: table;
  width: 100%;
  text-align: center;
}

.cell {
  display: table-cell;
  padding: 20px;
}

.top-table .cell:nth-child(1) {
  width: 100px;
  background-color: #fdc8b8;
}

.top-table .cell:nth-child(2) {
  background-color: #e0abd9;
}

.top-table .cell:nth-child(3) {
  width: 100px;
  background-color: #b6d8ed;
}

.under-table {
  margin-top: 20px;
}

.under-table .cell:nth-child(1){
  background-color: #e5d32e;
}

.under-table .cell:nth-child(2){
  background-color: #ec8f9a;
}

.under-table .cell:nth-child(3){
  width: 500px;
  background-color: #8fdcad;
}
/* 回答はここに書いてね */
